{% extends 'base.html.twig' %}

{% block title %}{{Controller_name}}{% endblock %}

{% block body %}
<h1 class="text-center">Vous êtes connecter</h1>
<a href="{{path('app_logout')}}">Déconnexion</a>
{% endblock %}
