{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}
	{% if app.user %}
<h2 class="text-center text-info font-weight-bold mt-5">Bienvenue dans app Gestions Employees</h2>
<h4 class="text-center mt-4">{{  app.user.name }}</h4>
<h4 class="text-center">{{ app.user.lastName }}</h4>
<h4 class="text-center">{{ app.user.email }}</h4>
{% endif %}

{% endblock %}
